PROGRAM TO PRINT TABLE OF 7 AND 9

In [7]:
#PROGRAM TO PRINT TABLE OF 7 AND 9
print("Table of 7 ->")
for i in range(1,11):
    print("7 x ",i," = ", 7*i)
print("Table of 9 ->")
for i in range(1,11):
    print("9 x ",i," = ", 9*i)

Table of 7 ->
7 x  1  =  7
7 x  2  =  14
7 x  3  =  21
7 x  4  =  28
7 x  5  =  35
7 x  6  =  42
7 x  7  =  49
7 x  8  =  56
7 x  9  =  63
7 x  10  =  70
Table of 9 ->
9 x  1  =  9
9 x  2  =  18
9 x  3  =  27
9 x  4  =  36
9 x  5  =  45
9 x  6  =  54
9 x  7  =  63
9 x  8  =  72
9 x  9  =  81
9 x  10  =  90